extends layout

block content 
  form( method='POST', action='/registration', name='registrationForm' )
    input( type='text', name='Benutzername' )
    br
    input( type='text', name='Passwort' )
    br
    input( type='submit', value='Send' )